/* Utilities */
.container {
    max-width: 100%;
    padding: 1rem clamp(.8rem, 5vw , 5rem);
}
.thin {
    font-weight: 300;
}
.lead {
    font-weight: 300;
    font-size: 1.35rem;
}
.text-center {
    text-align: center;
}
.h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:clamp(1.5rem, 3vw, 3rem);
}
.text-large {
    font-size:clamp(1.5rem, 3vw, 3rem);
}
.rounded {
    border-radius: 2rem;
}
.btn {
    cursor: pointer;
    padding: .7rem 1rem;
    background: var(--background);
}
.btn-light {
    color: black;
    background: white;
}
.btn-dark {
    color: white;
    background-color: #335;
}
ol.list {
    margin: 0;
    padding: 0;
    counter-reset: list-counter;
    list-style: none;
}
ol.list li {
    position: relative;
    counter-increment: list-counter;
    margin: 1.5rem 0;
    padding-left: 3.5rem;
}
ol.list li::before {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    content: counter(list-counter);
    background: var(--primary);
    height: 2.5rem;
    width: 2.5rem;
    padding: 6px;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
}
.list-head {
    font-weight: bold;
    font-size: 1.15rem;
    margin: .5rem 0;
}
.secondary {
    color: gray;
}

.cards {
    display: flex;
    gap: 1rem;
}
.card-title {
    font-weight: bold;
    font-size: 1.5rem;
}
.card-body {
    font-size: 1.25rem;
}
.card > svg:first-child {
    font-size: 3rem;
    color: var(--primary);
}
.card-link {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--primary);
}
.card-link svg {
    margin-left: 0.3rem;
    vertical-align: middle;
}

.carousal {
    position: relative; 
    display: flex; 
    overflow-x: hidden;
}
.slide {
    width: 33.333%;
    flex-shrink: 0;
    transition: transform .5s;
}
.slide img {
    padding: 1rem;
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 2rem;
}
.right-btn, .left-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(255, 255, 255, .7);
    width: 3rem;
    height: 3rem;

    border-radius: 50%;
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.left-btn {
    left: 5%;
}
.right-btn {
    right: 5%;
}