{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'home/index.css' %}">
    <link rel="stylesheet" href="{% static 'home/utilities.css' %}">
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
{% endblock %}

{% block content %}
    <nav class="container">
        <span class="brand">Dukaan</span>
        <ul>
            <li><a href="#">Inventory</a></li>
            <li><a href="#">Calculate Income</a></li>
            <li><a href="#">Pending Payments</a></li>
            <li><a href="#">Generate/Retreive Invoice</a></li>
            <!-- <li><a href="{% url 'home:Checkout' %}"><i id="cart" class="fas fa-shopping-cart"></i> My Cart</a></li> -->
        </ul>
        {% if user.is_authenticated %}
            <div class="profile">
                <a href="#"><img src="{% static 'home/default.jpg' %}" alt="DP"></a>
                <div>{{ user.username }} <a href="/user/logout">Logout</a></div>
            </div>
        {% else %}
            <ul>
                <li><a href="/user/login">Login</a></li>
            </ul>
        {% endif %}
    </nav>
    <div>
        {{ profit }}<hr>
        {% for item in pending_payments %}
            {{ item.user_id}}<br>
            {{ item.payment_status }}<br>
        {% endfor %}
        <hr>
    </div>
    <!-- <div id="itemquantity">
        [{% for item in list %}
            '{{ item.quantity }}',
        {% endfor %}]
    </div> -->
    <div id="itemquantity">{{ list }}</div>
    <canvas id="myChart" width="800" height="200"></canvas> 
    <script defer>
        var ctx = document.getElementById('myChart');
        // <!-- var sales_full = {{ list }} -->
        var sales = {{ list_by_month }}
        
        // alert(sales)

        var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October'];

        var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: months,
                    datasets: [{
                        label: 'sales',
                        data: sales,
                        fill: false,
                    }]
                }
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
{% endblock %}