{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ form.name|as_crispy_field }}
        {{ form.barcode_no|as_crispy_field }}
        {{ form.stock_left|as_crispy_field }}
        {{ form.selling_price|as_crispy_field }}
        {{ form.cost_price|as_crispy_field }}
        {{ form.category|as_crispy_field }}
        {{ form.expiry_date|as_crispy_field }}
        {{ form.description|as_crispy_field }}
        <button type="submit">Submit</button>
    </form>
</body>
</html>